.transc_container{
    border-radius: 5px;
    background-color: white;
    padding: 2rem 1rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin: 2rem 0rem;
}

.section_one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_one_sub p{
    margin: 0px;
    padding: 0px;
}

.section_one_sub h4{
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

.section_two{
    display: flex;
    justify-content: space-evenly;
}

.section_two p{
    margin: 4px;
}

.section_two  button{
    margin: 4px;
}
